// Config local para correr Sarek en un servidor con 16 CPUs

executor {
    name = 'local'
    cpus = 16      // lo que realmente tiene tu maquina
}

// Limite global: ningun proceso puede usar mas de 8 CPUs
process {
    resourceLimits = [ cpu: 8 ]
}

// (opcional, pero mas explicito)
// Forzar especificamente el proceso de alineamiento BWAMEM1_MEM a 8 CPUs
process {
    withName: 'NFCORE_SAREK:SAREK:FASTQ_PREPROCESS_GATK:FASTQ_ALIGN:BWAMEM1_MEM' {
        cpus = 8
    }
}
